body {
    background-color: #EEEEEE;
	font-family: 'Open Sans',sans-serif;
	color: #C38AB4;
}
#logo {
    background-image: url("img/logo-small.png");
    background-position: center center;
    background-repeat: no-repeat;
    height: 150px;
    text-indent: -9999px;
    width: 100%;
	margin-left: -20px;
}
.navbar-nav a {
    color: #A33679;
    font-weight: bold;
}
.navbar-nav a:hover {
    background-color: transparent !important;
    color: #D669AC;
}
.navbar-nav {
    clear: both;
    float: none;
    text-align: center;
}
#slide {
    margin: 0 auto;
    position: relative;
    top: -47px;
    width: 100%;
	height: auto;
}
.sosnet {
    position: absolute;
    right: 0;
}
.header .sosnet li {
    display: inline-block;
    list-style: none outside none;
    width: 38px;
}
.header .sosnet a {
    background-image: url("img/icon-sprites.png");
    background-position: 0 -48px;
    display: block;
    height: 45px;
    text-indent: -9999px;
    width: 39px;	
    transition: all 0.3s ease-out 0.2s;
    -webkit-transition: all 0.3s ease-out 0.2s;
    -moz-transition: all 0.3s ease-out 0.2s;
    -ms-transition: all 0.3s ease-out 0.2s;
    -o-transition: all 0.3s ease-out 0.2s;
}
.header .facebook a{	
  background-position: 92px 0;
}
.header .pinterest a {
    background-position: 144px 0;
}
.header .instagram a{
    background-position: 43px 0;}
.header .mail a{
    background-position: 0 0;}
.header .facebook a:hover {
	background-position: 92px -45px;
}
.header .pinterest a:hover {
	background-position: 144px -45px;
}
.header .instagram a:hover {
	background-position: 43px -45px;
}
.header .mail a:hover {
	background-position: 0 -45px;
}
.navbar{ margin: 0}
figure.in-bingkai {
    margin-top: 18px;
}
figure.in-bingkai div.bingkai {
    left: 12px;
    position: absolute;
    top: 13px;
}
figure.in-bingkai img {
    left: -3px;
    position: absolute;
    top: -72px;
}
.banner-line h2 {
    font-family: 'Open Sans',sans-serif;
    font-size: 23px;
    font-weight: 400;
    line-height: 45px;
    margin-top: 0;
    text-align: left;
}
.banner-line p {
    color: #666666;
}
footer {
    clear: both;
    padding: 40px 0 20px;
    position: relative;
}
footer p {
    font-size: 14px;
	text-align:center;
}
.about-me {
    margin-top: -18px;
}
/****************** PORTFOLIO ******************/
.portfolio article {
    margin: 10px 0 25px;
	text-align:center;
}
.portfolio article .content {
    background-color: #F1C6EB;
    height: 185px;
    position: absolute;
    top: 0;
    width: 295px;
	padding: 50px 20px;
	left: 15px;
	text-align:center;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
}
.portfolio article .title h2 {
    font-size: 25px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
}
.portfolio article .content {
    color: #727272;
    text-align: center;
}
.portfolio a.icon-eye {
    background-image: url("img/eye-icon2.png");
    display: block;
    height: 61px;
    margin: 17px auto 0;
    width: 61px;
    left: 113px;
    bottom: -14px;
    border-radius: 83%;
    -moz-border-radius: 83%;
    -webkit-border-radius: 83%;
	
    position: absolute;
}
.portfolio a.icon-eye:hover {	
	background-color: #BBBBFF;
    border-radius: 53% 53% 53% 53%;
    -moz-border-radius: 53% 53% 53% 53%;
    -webkit-border-radius: 53% 53% 53% 53%;
	-webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}
.portfolio article{}
.portfolio{}
@media (min-width: 992px) {
	.container {
		width: 1000px;
	}
  
	.navbar-background {
		background-image: url("img/header-lines.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 40px;
		left: -48px;
		margin: 0 auto;
		position: absolute;
		width: 1059px;
	}
	
	.navbar-nav li {
		left: 245px;
		position: relative;
		text-align: center;
		top: -5px;
	}
	
	.slide-line-bottom {
		background-image: url("img/slide-bottom-lines.png");
		background-repeat: no-repeat;
		height: 33px;
		margin: 0 auto;
		position: relative;
		top: -19px;
		width: 1053px;
		z-index: 9999;
	}
}
@media (max-width: 800px) {
	.container {
		width: 700px;
	}
	.navbar-nav li {
		font-size: 11.5px;
		left: 95px;
		position: relative;
		text-align: center;
		top: -11px;
	}
	.navbar {
		min-height: 12px;
	}
	.navbar-background {
		background-image: url("img/header-lines-medium.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 40px;
		left: -42px;
		margin: 0 auto;
		position: absolute;
		width: 750px;
	}
	.slide-line-bottom {
		background-image: url("img/slide-bottom-lines-medium.png");
		background-repeat: no-repeat;
		height: 33px;
		left: 10px;
		margin: 0 auto;
		position: relative;
		top: -5px;
		z-index: 9999;
	}
	figure.in-bingkai .bingkai img {
		width: 210px;
	}
	.banner-line h2 {
		font-size: 16px;
		font-weight: 400;
		line-height: 29px;
	}
	.banner-line p {
		font-size: 13px;
	}
	figure.in-bingkai img {
		left: -3px;
		position: absolute;
		top: -29px;
		width: 350px;
	}
}
@media (max-width: 699px) {
	#logo {
		margin-left: -13px;
	}
	.container {
		width: 290px;
	}
	.navbar-toggle {
		background-color: #E0ABDF;
	}
	.navbar-default .navbar-toggle {
		border-color: #EFEFEF;
		margin: 0;
		width: 100%;
		border: none;
	}
	.navbar-default .navbar-toggle p {
		color: #FFFFFF;
		margin: 0;
	}
	.navbar-background {
		background-image: url("img/header-lines-small.png");
		background-repeat: no-repeat;
		display: inline-block;
		height: 40px;
		left: -16px;
		margin: 0 auto;
		position: absolute;
		width: 290px;
	}
	.mobile-test .navbar-nav li {
		background-color: #E0ABDF;
		border-bottom: 1px solid;
		display: block;
		left: 0;
		margin: 0;
	}
	.mobile-test .navbar-background{
		background-image: none;
	}
	.navbar-nav li {
		display: inline-block;
		left: 0;
		margin: 0;
	}
	.navbar-nav li:last-child { display:none}
	.navbar-nav > li > a {
		font-size: 11px;
		font-weight: 400;
		line-height: 20px;
		padding: 10px 3px;
	}
	.sosnet ul {
		padding: 0;
	}	
	.sosnet {
		float: none !important;
		right: 12px;
		position: relative;
		text-align: center;
		top: 4px;
	}
	figure.in-bingkai {
		height: 158px;
		position: relative;
		text-align: center;
	}
	figure.in-bingkai img {
		left: 40px;
		margin: 0;
		position: relative;
		top: -51px;
		width: 100%;
		z-index: -10;
	}
	figure.in-bingkai div.bingkai {
		left: 140px;
		top: -1px;
	}
	figure.in-bingkai .bingkai img {
		width: 218px;
	}
	.banner-line h2 {
		text-align: center;
	}
	.banner-line p {
		text-align: center;
	}
	.nivoSlider{
		width: 290px
	}
	#slide {
		top: -20px;
	}
	.slide-line-bottom {
		background-image: url("img/slide-bottom-lines-small.png");
		left: -3px;
		width: 327px;
	}
	.portfolio article .content {
		left: 15px;
	}
	.portfolio article .content {
		height: 163px;
		width: 260px;
	}
	.portfolio a.icon-eye {
		bottom: -14px;
		left: 106px;
	}
}
@media (max-width: 321px) {
	#logo {
		margin-left: -15px;
	}
	.slide-line-bottom {
		width: 290px;
	}
	figure.in-bingkai img {
		left: 54px;
		position: absolute;
	}
}